/cmd/mysqldef/mysqldef
/cmd/psqldef/psqldef
/cmd/sqlite3def/sqlite3def
/cmd/sqlite3def/sqlite3def_test
/cmd/mssqldef/mssqldef
/build/*/*
/package/*
*.sql
*.db
/.docker
/MacOSX.sdk.tar.xz
/MacOSX.sdk
y.output
