services:
  mysql:
    image: mysql:${MYSQL_VERSION:-8.0}
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
      MYSQL_ROOT_HOST: '%'
    ports:
      - '3306:3306'
  mariadb:
    image: mariadb:${MARIADB_VERSION:-11.8}
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
      MYSQL_ROOT_HOST: '%'
    ports:
      - '3307:3306'
  postgres:
    image: postgres:${POSTGRES_VERSION:-14}
    # image: hartmutcouk/pg-repack-docker:1.4.6
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    ports:
      - '5432:5432'
  mssql:
    # Available versions: https://mcr.microsoft.com/artifact/mar/mssql/server/about
    image: mcr.microsoft.com/mssql/server:${MSSQL_VERSION:-2019-latest}
    platform: linux/amd64
    user: root
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: 'Passw0rd'
      MSSQL_MEMORY_LIMIT_MB: '4096'
    ports:
      - '1433:1433'
    tmpfs:
      - /var/opt/mssql
