name: docker
on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

permissions:
  packages: write
  contents: read
  attestations: write
  id-token: write

jobs:
  build:
    name: ${{ startsWith(github.ref, 'refs/tags/') && 'push' || 'build' }} (${{ matrix.cmd }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cmd: [mysqldef, sqlite3def, mssqldef, psqldef]
    steps:
      - name: Check out the repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: sqldef
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ startsWith(github.ref, 'refs/tags/') }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: sqldef/${{ matrix.cmd }}
          tags: |
              type=ref,event=branch
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}.{{minor}}

      - name: ${{ startsWith(github.ref, 'refs/tags/') && 'Push' || 'Build' }} Docker image
        id: push
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6.16.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: SQLDEF_TOOL=${{ matrix.cmd }}
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.cmd }}
          cache-to: type=gha,scope=${{ matrix.cmd }},mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: index.docker.io/sqldef/${{ matrix.cmd }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
