name: docker
on:
  workflow_dispatch:
  merge_group:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

permissions:
  packages: write
  contents: read
  attestations: write
  id-token: write

jobs:
  build:
    name: ${{ startsWith(github.ref, 'refs/tags/') && 'push' || 'build' }} (${{ matrix.cmd }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cmd: [mysqldef, sqlite3def, mssqldef, psqldef]
    steps:
      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: sqldef
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ startsWith(github.ref, 'refs/tags/') }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: sqldef/${{ matrix.cmd }}
          tags: |
              type=ref,event=branch
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}.{{minor}}

      - name: ${{ startsWith(github.ref, 'refs/tags/') && 'Push' || 'Build' }} Docker image
        id: push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: SQLDEF_TOOL=${{ matrix.cmd }}
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.cmd }}
          cache-to: type=gha,scope=${{ matrix.cmd }},mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-name: index.docker.io/sqldef/${{ matrix.cmd }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
        if: ${{ startsWith(github.ref, 'refs/tags/') }}

  build-result:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: build jobs have failed
        run: exit 1
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
