name: wasm
on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-wasm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cmd: [mysqldef, psqldef, mssqldef]
      fail-fast: false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.25

      - name: Build ${{ matrix.cmd }} WASM
        run: make build-wasm-${{ matrix.cmd }}

      - name: Verify WASM build
        run: |
          file build/js-wasm/${{ matrix.cmd }}.wasm
          ls -lh build/js-wasm/${{ matrix.cmd }}.wasm
